.tb-logo{
    max-height: 60px;
    padding-top: 5px;
}

.fab, .fas {
    color: black;
}

.profile-pic {
    max-width: 200px;
    float: left;
    margin-right: 15px;
}


/* sticky footer */
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }

.contact-info {
    width: 100%;
}
